<div class="container">
    <h1>Cardealer Demo KO</h1>
    <p class="lead">with Knockout, Rails and MongoDB</p>
    <ul class="nav nav-pills">
        <li class="active"><a href="#vendible-cars" data-toggle="pill">Vendible cars</a></li>
        <li><a href="#sold-cars" data-toggle="pill">Sold cars</a></li>
    </ul>
    <div class="tab-content">
        <div id="vendible-cars" class="tab-pane active">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="4">
                            <a href="#" data-bind="click: addCar">Add new car</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <th>Year model</th>
                        <th>Licence number</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: openSales">
                    <tr>
                        <td data-bind="text: car().model"></td>
                        <td data-bind="text: car().yearModel"></td>
                        <td data-bind="text: car().licenceNumber"></td>
                        <td data-bind="text: price"></td>
                        <td><a data-bind="click: $root.sell">Sell</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="sold-cars" class="tab-pane">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Model</th>
                        <th>Year model</th>
                        <th>Licence number</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: finishedSales">
                    <tr>
                        <td data-bind="text: saleContract().customer"></td>
                        <td data-bind="text: car().model"></td>
                        <td data-bind="text: car().yearModel"></td>
                        <td data-bind="text: car().licenceNumber"></td>
                        <td data-bind="text: saleContract().price"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" data-bind="showModal: saleForm, with: saleForm">
            <div class="modal-header">
                <a class="close" data-bind="click: cancel">×</a>
                <h3>Add new car</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset data-bind="with: car">
                        <div class="control-group">
                            <label class="control-label">Model</label></label>
                            <div class="controls">
                                <input type="text" class="span3" data-bind="value: model"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Year model</label></label>
                            <div class="controls">
                                <input type="text" class="span3" data-bind="value: yearModel"/>
                            </div>
                        </div>
                         <div class="control-group">
                            <label class="control-label">Licence number</label></label>
                            <div class="controls">
                                <input type="text" class="span3" data-bind="value: licenceNumber"/>
                            </div>
                        </div>
                     </fieldset>
                    <div class="control-group">
                        <label class="control-label">Price</label>
                        <div class="controls">
                            <input type="text" class="span3" data-bind="value: price"/>
                        </div>
                    </div>
                </form>
            </div>
           <div class="modal-footer">
                <a href="#" class="btn" data-bind="click: cancel">Cancel</a>
                <a href="#" class="btn btn-primary" data-bind="click: confirm">Sell</a>
            </div>
         </div>
         <div class="modal fade" data-bind="showModal: saleContractForm, with: saleContractForm">
            <div class="modal-header">
                <a class="close" data-bind="click: cancel">×</a>
                <h3>Sell car <span data-bind="text: car.licenceNumber"></span></h3>
            </div>
            <div class="modal-body" data-bind="with: saleContract">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Customer name</label>
                        <div class="controls">
                            <input type="text" class="span3" data-bind="value: customer"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Price</label>
                        <div class="controls">
                            <input type="text" class="span3" data-bind="value: price"/>
                        </div>
                    </div>
                </form>
            </div>
           <div class="modal-footer">
                <a href="#" class="btn" data-bind="click: cancel">Cancel</a>
                <a href="#" class="btn btn-primary" data-bind="click: confirm">Sell</a>
            </div>
         </div>
    </div>
</div>
