<div class="container">
    <h1>Cardealer Demo KO</h1>
    <p class="lead">with Knockout, Rails and MongoDB</p>
    <ul class="nav nav-pills">
        <li class="active"><a href="#vendible-cars" data-toggle="pill">Vendible cars</a></li>
        <li><a href="#sold-cars" data-toggle="pill">Sold cars</a></li>
    </ul>
    <div class="tab-content">
        <div id="vendible-cars" class="tab-pane active">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="4">
                            <a href="#">Add new car</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <th>Year model</th>
                        <th>Licence number</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: vendibleCars()">
                    <tr>
                        <td data-bind="text: model"></td>
                        <td data-bind="text: yearModel"></td>
                        <td data-bind="text: licenceNumber"></td>
                        <td data-bind="text: price"></td>
                        <td><a href="#sell-modal" data-bind="click: $parent.sellButtonClicked">Sell</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="sold-cars" class="tab-pane">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Model</th>
                        <th>Year model</th>
                        <th>Licence number</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: soldCars()">
                    <tr>
                        <td data-bind="text: saleContract().customer"></td>
                        <td data-bind="text: model"></td>
                        <td data-bind="text: yearModel"></td>
                        <td data-bind="text: licenceNumber"></td>
                        <td data-bind="text: saleContract().price"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="sell-modal" class="modal fade">
            <div class="modal-header" data-bind="if: carToSell">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Sell car <span data-bind="text: carToSell().licenceNumber"></span></h3>
            </div>
            <div class="modal-body" data-bind="if: saleContract">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Customer name</label>
                        <div class="controls">
                            <input type="text" class="span3" data-bind="value: saleContract().customer"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Price</label>
                        <div class="controls">
                            <input type="text" class="span3" data-bind="value: saleContract().price"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-primary" data-bind="click: sellCar">Sell</a>
            </div>
        </div>
    </div>
</div>
